// Typography & Color
$logoFont: Montserrat;

$bodyFont: Inter;

$accentYellow: #F0C378;
$accentLightBlue: #ACCEE2;
$accentDarkBlue: #38618C;
//$accentRed: #ED1C24;
//$accentRed: #F24333;
//$accentRed: #Db2b39;
$accentRed: #CC2936; //maybe this one?

$accentGrey: #DCDCDC;
