@use '_mixins' as *;

.accordionHeader {
    @include flex-vert-center-hor-space;
    border-top: 1px solid black;
  
    
    height: 55px;

    img {
        width: 25px;
        height: 25px;
    }
}

.accordionContent {
    display: none;
 
}

.open {
    display: block;
}