@use '_mixins' as *;

.accordionHeader {
    @include flex-vert-center-hor-space;
    border-top: 1px solid black;
    padding: 0 20px;
    height: 55px;

    img {
        width: 25px;
        height: 25px;
    }
}

div.accordionHeader:hover {
    background-color: black;

    svg {
        fill: white;
    }
}

.accordionContent {
    display: none;
    padding: 10px 20px;
}

.open {
    display: block;
}