@use 'mixins' as *;

.footer {
    //border: 1px solid red;
    position: absolute;
    bottom: 0px; 
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        display: block;
    }

    img {
        height: 52px;
        width: 52px;
        padding: 10px;
        margin: 0 5px;
    }
}

.icons {
    @include flex-center-vert-hor;
}

small {
    margin: 10px auto;
}