@use 'variables' as *;

body {
  margin: 0;
  font-family: $bodyFont;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// change the calc value depending on the height of the navbar
.page-container {
  position: relative;
  min-height: calc(100vh - 175px);
}
.content-wrap {
  margin: 100px auto 70px;
  padding-bottom: 70px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}