@use 'variables' as *;

body {
  margin: 0;
  font-family: $bodyFont;
  // 1rem = 16px
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// change the calc value depending on the height of the navbar
.page-container {
  border: 1px solid green;
  position: relative;
  min-height: 100vh;
  //min-height: calc(100vh - 90px);
}
.content-wrap {
  //border: 1px solid blue;
  margin: 0 20px;
  //padding-bottom includes 90px for footer, and 10px for space
  padding-bottom: 100px;
}

ul {
  padding-inline-start: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}