.aboutAccent {
    position: absolute;
    left: 60%;
    height: 142px;
    width: 157px;
    background-color: #fdd440;

    @media (min-width: 550px) {
        left: 63%;
        width: 165px;
        height: 175px;
    }
    @media (min-width: 750px) {
        left: 73%;
        width: 180px;
        height: 163px;
    }
    @media (min-width: 1000px) {
        top: 10%;
        width: 220px;
        height: 250px;
    }
    @media (min-width: 1350px) {
        top: 15%;
        height: 275px;

    }
}

.about {
    position: absolute;
    top: 12%;
    left: 48%;
    width: 140px;
    height: auto;
    filter: drop-shadow(1px 1px 1px grey);

    @media (min-width: 550px) {
        left: 58%;
        width: 160px;
    }
    @media (min-width: 750px) {
        left: 63%;
        width: 200px;
    }
    @media (min-width: 1000px) {
        top: 16%;
        left: 68%;
        width: 220px;
    }
    @media (min-width: 1350px) {
        top: 21%;
        left: 67%;
        width: 247px;
        
    }
}

.workAccent {
    position: absolute;
    top: 38%;
    left: 0%;
    height: 210px;
    width: 210px;
    z-index: -5;
    background-color: #accee2;

    @media (min-width: 550px) {
        top: 28%;
        left: 3%;
    }
    @media (min-width: 750px) {
        left: 10%;
        width: 250px;
        height: 250px;
    }
    @media (min-width: 1000px) {
        left: 5%;
        width: 360px;
    }
    @media (min-width: 1350px) {
        top: 24%;
        width: 440px;
        height: 390px;
    }
}

.work {
    position: absolute;
    top: 42%;
    left: 8%;
    width: 200px;
    height: auto;
    filter: drop-shadow(1px 1px 1px grey);

    @media (min-width: 550px) {
        top: 35%;
        width: 225px;
    }
    @media (min-width: 750px) {
        left: 15%;
        top: 33%;
        width: 265px;
    }
    @media (min-width: 1000px) {
        width: 300px;
    }
    @media (min-width: 1350px) {
        width: 350px;
    }
}

.contactAccent {
    position: absolute;
    top: 83%;
    height: 37px;
    width: 250px;
    background-color: #ed1c24;
    

    @media (min-width: 550px) {
        left: 10%;
        width: 300px;
    }
    @media (min-width: 750px) {
        
        left: 25%;
        width: 350px;
    }
    @media (min-width: 1000px) {
        left: 37%;
        width: 500px;
    }
    @media (min-width: 1350px) {
        top: 85%;
    }
}

.contact {
    position: absolute; 
    top: 73%;
    left: 48%;
    width: 175px;
    height: auto;
    filter: drop-shadow(1px 1px 1px lightgrey);

    @media (min-width: 550px) {
        width: 200px;
    }
    @media (min-width: 750px) {
        left: 57%;
        width: 220px;
    }
    @media (min-width: 1000px) {
        left: 62%;
        width: 240px;
    }
    @media (min-width: 1350px) {
        width: 260px;
        top: 71%;
        left: 59%;
    }
}

.slideRight {
    animation: 3s slide-right;
}
@keyframes slide-right {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0%;
    }
}

.slideLeft {
    animation: 3s slide-left;
}
@keyframes slide-left {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}

.fadeIn {
    animation: fade-in ease 3s;
}
@keyframes fade-in{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

// Colorize zoom from: w3bits.com/css-image-hover-zoom
div.colorize {
    overflow: hidden;
}

.colorize img {
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
}

.colorize:hover img,
.colorize:active img {
    filter: grayscale(0);
    transform: scale(1.1);
}