@use 'variables' as *;
@use 'mixins' as *;

.contactWrap {
    margin-left: 20px;
    margin-right: 20px;

    h3 {
        //margin: 40px auto;
        text-align: center;
    }
    p {
        margin: 5px auto;
        text-align: center;
    }
  
}

.accent {
    background-color: $accentYellow;
    margin-top: 70px;
    padding: 25px 10px;
    filter: drop-shadow(2px 2px 2px darkgrey)
}

.smalltext {
    margin: 60px auto;
}


.email {
    @include flex-center-vert-hor;
    flex-wrap: wrap;
    margin-top: 40px;

    p{
        margin: 0;
    }

    button {
        border: none;
        background-color: white;
    }
}