.aboutWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
        display: flex;
        justify-content: center;
        width: 18.75rem;
        height: 23.4375rem;
        margin-bottom: 1.5625rem;
        border-radius: 3px;
        filter: drop-shadow(2px 2px 2px darkgrey);

        @media (min-width: 56.25rem) {
            margin: 0 1.5625rem;
        }
    }
    
}

.aboutText {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1.25rem;
    max-width: 31.25rem;

    h2 {
        margin-top: 0;
    }

    section {
        width: 100%;
    }
}

