@use 'mixins' as *;

.container {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: calc((100vh - 95px) * 0.23) calc((100vh - 95px) * 0.31) repeat(2, calc((100vh - 95px) * 0.23));
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "about"
      "info"
      "work"
      "contact";
    max-height: calc(100vh - 65px);
    margin-top: 65px;
}

.about {  
    display: grid;
    grid-template-columns: 170px 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "aboutImage aboutAccent";
    grid-area: about;

    @media (min-width: 750px) {
        grid-template-columns: 1fr 170px 4fr;
        grid-template-areas: 
            "leftAboutAccent aboutImage aboutAccent";

        .leftAboutAccent {
            grid-area: leftAboutAccent;
            background-color: #F0C378;
        }
    }
    // @media (min-width: 750px) {
    //     grid-template-columns: 1fr 230px 4fr;
    // }
}

.aboutAccent { 
    grid-area: aboutAccent; 
    background-color: #F0C378;
}

.aboutImage { 
    grid-area: aboutImage; 
    overflow: hidden;

    img {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.info {  
    grid-area: info;
    background-color: #ACCEE2;
    @include flex-center-vert-hor;

    div {
        margin: 0 auto;
        width: 300px;
    }

    h2 {
        margin: 7% auto;
        font-family: Montserrat;
        font-size: 28px;
        text-transform: uppercase;
        text-align: center;
    }
    p {
        font-family: Inter;
        font-weight: 500;
        text-align: center;
        margin: 5px 0;
    }
}

p.firstLine {
    text-align: left;
}

.work {  
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "workAccent workImage";
    grid-area: work;

    @media (min-width: 750px) {
        grid-template-columns: 4fr 200px 1fr;
        grid-template-areas: 
            "workAccent workImage rightWorkAccent";

        .rightWorkAccent {
            grid-area: rightWorkAccent;
            background-color: #ED1C24;
        }
    }
    @media (min-width: 750px) {
        grid-template-columns: 4fr 300px 1fr;
    }
}

.workAccent { 
    grid-area: workAccent; 
    background-color: #ED1C24;
}

.workImage { 
    grid-area: workImage; 
    overflow: hidden;

    img {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.contact {  
    display: grid;
    grid-template-columns: 170px 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "contactImage contactAccent";
    grid-area: contact;

    @media (min-width: 750px) {
        grid-template-columns: 1fr 170px 4fr;
        grid-template-areas: 
            "leftContactAccent contactImage contactAccent";

        .leftContactAccent {
            grid-area: leftContactAccent;
            background-color: #38618C;
        }
    }
    // @media (min-width: 750px) {
    //     grid-template-columns: 1fr 230px 4fr;
    // }
}

.contactImage { 
    grid-area: contactImage; 
    overflow: hidden;

    img {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.contactAccent { 
    grid-area: contactAccent; 
    background-color: #38618C;
}

.slideRight {
    animation: 2s slide-right;
}
@keyframes slide-right {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0%;
    }
}

.slideLeft {
    animation: 2s slide-left;
}
@keyframes slide-left {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}

.fadeIn {
    animation: fade-in ease 2s;
}
@keyframes fade-in{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
