@use 'variables' as *;
@use 'mixins' as *;

.contactWrap {
    margin-left: 20px;
    margin-right: 20px;

    h3 {
        margin: 70px auto 0;
        max-width: 400px;
        text-align: center;
        line-height: 1.8rem;
    }
    p {
        margin: 5px auto;
        text-align: center;
    }
  
}

.accent {
    display: block;
    text-decoration: none;
    color: black;
    background-color: $accentYellow;
    padding: 20px 0;
    max-width: 300px;
    filter: drop-shadow(2px 2px 2px darkgrey)
}

.smalltext {
    margin: 50px auto;
}


.email {
    @include flex-center-vert-hor;
    flex-wrap: wrap;
    margin-top: 40px;

    p{
        margin: 0;
    }
    button {
        border: none;
        background-color: white;
    }
}

img.copyEmail + p.popup {
    background: red;
}