@use '_mixins' as *;

article {
    @include flex-wrap-center-space-btwn;
    margin: 0 10px;
    padding: 15px 0;
    width: 300px;

    @media (min-width: 400px) {
        margin: 0 40px;
    }
}

.info {
    @include flex-wrap-center-space-btwn;
    width: 100%;
    color: black;
    text-decoration: none;
    text-align: center;

    img {
        display: block;
        margin: 0 auto;
        height: 300px;
        width: 300px;
    }
}
