@use '_mixins' as *;
@use '_variables' as *;

article {
    @include flex-wrap-center-space-btwn;
    position: relative;
    margin: 0 20px;
    padding: 0.9375rem 0;
    width: 100%;

    @media (min-width: 450px) {
        margin: 0 40px;
    }
    @media (min-width: 1000px) {
        margin: 20px 40px;
    }
}

.project {
    @include flex-wrap-center-space-btwn;
    color: black;
    text-decoration: none;
    text-align: center;
    position: relative;
    z-index: 10;

    img {
        display: block;
       
        margin: 0 auto;
        height: auto;
        max-width: 100%;
        border-radius: 7px;

        @media (min-width: 1000px) {
            width: 500px;
            filter: drop-shadow(2px 2px 3px #444444);
        }
    }
}

.projectInfo {
    @include flex-wrap-center-space-btwn;
    position: relative;
    z-index: 5;
    text-align: center;
    max-width: 400px;

    h2,
    p {
        padding-left: 10px;
    }

    @media (min-width: 1000px) {
        justify-content: left;
        padding: 25px;
        text-align: left;
        background-color: lightgrey;
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        border-radius: 0 7px 7px 0;
        filter: drop-shadow(2px 2px 2px darkgrey);

        a {
            filter: drop-shadow(2px 2px 2px darkgrey)
        }
    }
}
