@use '_mixins' as *;
@use '_variables' as *;


article.card {
    @include flex-wrap-center-space-btwn;
    position: relative;
    margin: 0 1.25rem;
    padding: 1.875rem 0;
    width: 100%;

    @media (min-width: 28.125rem) {
        margin: 0 2.5rem;
    }
    @media (min-width: 62.5rem) {
        margin: 1.25rem 2.5rem;
    }
}

article.card:nth-child(2) {
    flex-direction: row-reverse;

    .projectInfo {
        border-radius: 0.4375rem 0 0 0.4375rem;
    }
}

.projectImage {
    position: relative;
    z-index: 10;

    img {
        display: block;
        margin: 0 auto;
        height: auto;
        max-width: 100%;
        border-radius: 0.4375rem;

        @media (min-width: 62.5rem) {
            width: 31.25rem;
            filter: drop-shadow(0.1875rem 0.1875rem 0.3125rem #44444475);
        }
    }
}

.projectInfo {
    @include flex-wrap-center-space-btwn;
    position: relative;
    z-index: 5;
    text-align: center;
    max-width: 25rem;

    h2,
    p {
        padding-left: 0.625rem;
    }

    @media (min-width: 62.5rem) {
        justify-content: center;
        padding: 1.5625rem;
        text-align: left;
        background-color: #dcdcdc;
        border-radius: 0 0.4375rem 0.4375rem 0;

        a {
            //Learn More button
            filter: drop-shadow(0.125rem 0.125rem 0.125rem darkgrey)
        }
    }
}
